In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from geopy.geocoders import Nominatim
import folium

In [2]:
data = pd.read_csv('../data/other-American_B01362.csv')

In [3]:
data

,DATE,TIME,PICK UP ADDRESS,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,7/1/2014,12:00:00 AM,"874 E 139th St Mott Haven, BX",NaN,NaN,NaN
1,7/1/2014,12:01:00 AM,"628 E 141st St Mott Haven, BX",NaN,NaN,NaN
2,7/1/2014,12:01:00 AM,"601 E 156th St South Bronx, BX",NaN,NaN,NaN
3,7/1/2014,12:01:00 AM,"708 E 138th St Mott Haven, BX",NaN,NaN,NaN
4,7/1/2014,12:02:00 AM,"700 E 140th St Mott Haven, BX",NaN,NaN,NaN
...,...,...,...,...,...,...
91707,9/30/2014,11:47:00 PM,"593 Oak Ter Mott Haven, BX",NaN,NaN,NaN
91708,9/30/2014,11:48:00 PM,"645 Westchester Ave South Bronx, BX",NaN,NaN,NaN
91709,9/30/2014,11:51:00 PM,"625 Tinton Ave South Bronx, BX",NaN,NaN,NaN
91710,9/30/2014,11:54:00 PM,"350 Saint Anns Ave Mott Haven, BX",NaN,NaN,NaN
91711,9/30/2014,11:58:00 PM,"846 Tinton Ave Morrisania, BX",NaN,NaN,NaN

In [4]:
# droping NaN columns
data = data.drop(['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5'], axis=1)

In [5]:
data

            DATE         TIME                       PICK UP ADDRESS
0       7/1/2014  12:00:00 AM         874 E 139th St Mott Haven, BX
1       7/1/2014  12:01:00 AM         628 E 141st St Mott Haven, BX
2       7/1/2014  12:01:00 AM        601 E 156th St South Bronx, BX
3       7/1/2014  12:01:00 AM         708 E 138th St Mott Haven, BX
4       7/1/2014  12:02:00 AM         700 E 140th St Mott Haven, BX
...          ...          ...                                   ...
91707  9/30/2014  11:47:00 PM            593 Oak Ter Mott Haven, BX
91708  9/30/2014  11:48:00 PM   645 Westchester Ave South Bronx, BX
91709  9/30/2014  11:51:00 PM        625 Tinton Ave South Bronx, BX
91710  9/30/2014  11:54:00 PM     350 Saint Anns Ave Mott Haven, BX
91711  9/30/2014  11:58:00 PM         846 Tinton Ave Morrisania, BX

[91712 rows x 3 columns]

In [6]:
data['PICK UP ADDRESS']

0               874 E 139th St Mott Haven, BX
1               628 E 141st St Mott Haven, BX
2              601 E 156th St South Bronx, BX
3               708 E 138th St Mott Haven, BX
4               700 E 140th St Mott Haven, BX
                         ...
91707              593 Oak Ter Mott Haven, BX
91708     645 Westchester Ave South Bronx, BX
91709          625 Tinton Ave South Bronx, BX
91710       350 Saint Anns Ave Mott Haven, BX
91711           846 Tinton Ave Morrisania, BX
Name: PICK UP ADDRESS, Length: 91712, dtype: object